* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  background-color: rgb(199, 188, 188);
}

#smiley {
  width: 100px;
  height: 100px;
  border: 1px;
  display: flex;
  transition: all 0.5s ease-in-out;
}

#btn {
  background-color: rgb(163, 160, 155);
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 15, 15);
  cursor: pointer;
  position: absolute;
  top: 50%;
}
